.profile {
    max-width: 880px;
    min-width: 282px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width:760px) {
    .profile {
        flex-direction: column;
        row-gap: 33px;
    }
}